@{
    ViewData["Title"] = "Home Page";
    Layout = "_EmptyLayout"; ;
}


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">SSO Login Sample</h3>
                    <form action="#" class="signin-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password" required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">
                                    Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#" style="color: #fff">Forgot Password</a>
                            </div>
                        </div>
                    </form>
                    <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                    @foreach (var provider in Model.LoginMethods)
                    {
                        <div class="social d-flex text-center">
                            <form method="post" asp-asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" style="margin-right: 10px;">
                                <div>
                                    <button class="px-2 py-2 mr-md-1 rounded" onclick="externalLogin(@provider.Name, @Model.ReturnUrl)" name="provider" value="@provider.Name"
                                       title="Log in using your @provider.DisplayName account"> <img src="~/images/microsoft.svg" />Microsoft</button>
                                </div>
                            </form>
                            <form method="post">
                                <div>
                                    <button href="#" class="px-2 py-2 mr-md-1 rounded" name="provider" value="Facebook"
                                       title="Log in using your Facebook account"> <img src="~/images/facebook.svg" />Facebook</button>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/login.js"></script>